
body, html {
    border: 0px solid red;
    overflow: auto;
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

#headline {
  background-image: url(background.png);
  background-size: cover;
  border: 0px solid silver;
  color: white;
  font-family: Roboto, sans-serif;
  overflow: auto;
}

.container {
    overflow: auto;
    padding: .5em;
}

td {
border: 0px solid silver;
}
table {
width: 100%;
}

.field {clear:both; text-align:right; line-height:25px;}
label {float:left; padding-right:10px;}
.main {float:left}


@media (min-width: 700px) {

#headline {
  padding: 2em 5%;
}

#images img {
float: left;
}

.container {
  margin: auto;
  max-width: 700px;
  padding: 1em;
    border: 0px solid green;
}

.container .l1 {
  float: left;
  font-size: 18px;
  width: 50%;
  box-sizing: border-box;
  font-weight: 300;
  padding: 20px;
    border: 0px solid green;
      overflow: auto;

}
.container .l2 {
  float:right;
  width: 50%;
  box-sizing: border-box;
  font-weight: 300;
  padding: 20px;
    border: 0px solid green;
      overflow: auto;

}

}


